/* start variables */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* end variables */
/* start global rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "open sans", "cairo", sans-serif;
}

*:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}

.content .title {
    letter-spacing: -1px;
    margin: 20px 20px 40px;
    position: relative;
}

.content .title::before,
.content .title::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    height: 3px;
}

.content .title::before {
    width: 120px;
    background-color: #ffffff;
}

.content .title::after {
    width: 40px;
    background-color: #000;
}

/* end global rules */
/* start sidebar */
.sidebar {
    width: 250px;
    box-shadow: 0 5px 15px #ddd;
}

.sidebar h3 {
    margin-bottom: 50px;
}

@media (min-width:768px) {

    .sidebar h3::before,
    .sidebar h3::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: #000;
    }

    .sidebar h3::before {
        bottom: -20px;
        width: 80px;
        height: 2px;
    }

    .sidebar h3::after {
        width: 12px;
        height: 12px;
        bottom: -29px;
        border: 4px solid #FFF;
        border-radius: 50%;
    }
}

.sidebar ul li a {
    display: block;
    padding: 8px;
    margin-bottom: 4px;
    transition: .3s;
}

.sidebar ul li a.active,
.sidebar ul li a:hover {
    background-color: #f6f6f6;
}

.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 60px;
        padding: 10px;
    }

    .sidebar h3 {
        margin-bottom: 15px;
    }

    .sidebar ul li a {
        padding: 10px;
    }

    .sidebar ul li span {
        display: none;
    }
}

/* end sidebar */
/* start content */
.content {
    overflow: hidden;
}

.header .input-text::before {
    font-family: 'font awesome 6 free';
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 10px;
    font-size: 15px;
    color: var(--grey-color);
}

.header .input-text input {
    padding: 10px 0 10px 30px;
    border-radius: 12px;
    border: 1px solid #d1d1d1;
    width: 160px;
    transition: .5s;
}

.header .input-text input:focus {
    width: 200px;
}

.header .input-text input:focus::placeholder {
    opacity: 0;
}

.header .self-sec span::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    top: -5px;
    right: 6px;
    border-radius: 50%;
}

.header .self-sec i {
    font-size: 19px;
    margin-right: 13px;
    transition: .3s;
}

.header .self-sec i:hover {
    color: var(--blue-color);
}

.header .self-sec img {
    width: 32px;
    height: 32px;
}

.header .self-sec i,
.header .self-sec img {
    cursor: pointer;
}

/* end content */
/* start wrapper */
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

/* end wrapper */
/* start welcome user */
.welcome {
    overflow: hidden;
    box-shadow: 0 0 10px #0000001a;
}

.welcome .info img {
    width: 200px;
    margin-bottom: -10px;
}

.welcome .avatar {
    width: 75px;
    border: 5px solid #eee;
    border-radius: 50%;
    padding: 3px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -35px;
}

@media (max-width: 767px) {
    .welcome .avatar {
        margin-left: 0;
    }

    .welcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body>div {
    flex: 1;
}

.welcome .visite {
    margin: 0 15px 15px auto;
    transition: .3s;
}

.welcome .visite:hover {
    background-color: var(--blue-alt-color);
}

/* end welcome user */
/* start draft */
.quick-draft {
    box-shadow: 0 0 10px #0000001a;
}

.quick-draft input,
.quick-draft textarea:focus {
    outline: none;
}

.quick-draft textarea {
    resize: none;
    height: 200px;
}

.quick-draft .save {
    margin: 0 0 0 auto;
    padding: 3px 10px;
    cursor: pointer;
    transition: .3s;
}

.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}

/* end draft */
/* start targets */
.yearly-targets {
    box-shadow: 0 0 10px #0000001a;
}

.yearly-targets .content .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.yearly-targets .content.money .icon,
.yearly-targets .content.money .info .prog {
    background-color: #0077ff44;
}

.yearly-targets .content.projects .icon,
.yearly-targets .content.projects .info .prog {
    background-color: #f59f0b3b;
}

.yearly-targets .content.team .icon,
.yearly-targets .content.team .info .prog {
    background-color: #22c55e31;
}

.yearly-targets .content.money .icon i {
    color: var(--blue-color);
}

.yearly-targets .content.projects .icon i {
    color: var(--orange-color);
}

.yearly-targets .content.team .icon i {
    color: var(--green-color);
}

.yearly-targets .content .info {
    flex: 1;
}

.yearly-targets .content .info .prog {
    height: 4px;
}

.yearly-targets .content .info .prog>span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.yearly-targets .content .info .prog>span span {
    position: absolute;
    bottom: 15px;
    right: -17px;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 6px;
    color: #fff;
}

.yearly-targets .content .info .prog>.money span::before {
    position: absolute;
    content: "";
    border-width: 7px;
    border-style: solid;
    border-color: var(--blue-color) transparent transparent transparent;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.yearly-targets .content .info .prog>.projects span::before {
    position: absolute;
    content: "";
    border-width: 7px;
    border-style: solid;
    border-color: var(--orange-color) transparent transparent transparent;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.yearly-targets .content .info .prog>.team span::before {
    position: absolute;
    content: "";
    border-width: 7px;
    border-style: solid;
    border-color: var(--green-color) transparent transparent transparent;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

/* end targets */
/* start tickets */
.tickets {
    box-shadow: 0 0 10px #0000001a;
}

.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}

@media (max-width: 767px) {
    .tickets .box {
        width: 100%;
    }
}

/* end tickets */
/* start news */
.last-news {
    box-shadow: 0 0 10px #0000001a;
}

.last-news .content:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.last-news .content img {
    width: 100px;
}

.last-news .info {
    flex-grow: 1;
}

@media (max-width:767px) {
    .last-news .content .time {
        width: fit-content;
        margin: auto;
    }
}

/* end news */
/* start tasks */
.tasks {
    box-shadow: 0 0 10px #0000001a;
}

.tasks .latest:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.tasks .latest .info {
    flex-grow: 1;
}

.tasks .latest .info.of-task {
    text-decoration: line-through;
    opacity: 0.5;
}

.tasks .latest i.no {
    opacity: 0.5;
}

.tasks .latest i {
    transition: .3s;
    cursor: pointer;
}

.tasks .latest i:hover {
    color: var(--red-color);
}

/* end tasks */
/* start items */
.items {
    box-shadow: 0 0 10px #0000001a;
}

/* end items */
/* start upload */
.uploads {
    box-shadow: 0 0 10px #0000001a;
}

.uploads .box img {
    width: 40px;
}

.uploads .box .info {
    flex-grow: 1;
}

.uploads .box:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

/* end upload */
/* start project progress */
.project-progress {
    box-shadow: 0 0 10px #0000001a;
}

.project-progress ul::before {
    content: "";
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color)
}

.project-progress ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background-color: #fff;
    border: 2px solid #fff;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}

.project-progress ul li.done::before {
    background-color: var(--blue-alt-color);
}

.project-progress ul li.current::before {
    animation: change-color 0.8s infinite alternate;
}

@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }

    to {
        background-color: #fff;
    }
}

.project-progress .launch-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 160px;
    opacity: 0.2;
}

/* end project progress */
/* start reminders */
.reminders {
    box-shadow: 0 0 10px #0000001a;

}

.reminders .reminders-row>span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.reminders .reminders-row .info.blue {
    border-left: 2px solid var(--blue-color);
}

.reminders .reminders-row .info.green {
    border-left: 2px solid var(--green-color);
}

.reminders .reminders-row .info.orange {
    border-left: 2px solid var(--orange-color);
}

.reminders .reminders-row .info.red {
    border-left: 2px solid var(--red-color);
}

/* end reminders */
/* start post */
.post {
    box-shadow: 0 0 10px #0000001a;
}

.post .acount img {
    width: 48px;
    height: 48px;
}

.post .content {
    text-transform: capitalize;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    line-height: 1.8;
    min-height: 140px;
}

.post .likes,
.post .comments {
    cursor: pointer;
    transition: .3s;
}

.post .likes:hover,
.post .comments:hover {
    color: var(--blue-color);
}

/* end post */
/* start social */
.social {
    box-shadow: 0 0 10px #0000001a;
}

.social .social-row.x {
    background-color: #0000002d;
}

.social .social-row.facebook {
    background-color: #0077ff31;
}

.social .social-row.youtube {
    background-color: rgba(255, 0, 0, 0.219);
}

.social .social-row.linked-in {
    background-color: #0076b525;
}

.social .social-row>span {
    width: 52px;
    height: 52px;
    transition: .5s;
}

.social .social-row>span:hover {
    transform: rotate(5deg);
}

.social .social-row .followers {
    flex-grow: 1;
}

/* end social */
/* start project table */
.project-table {
    box-shadow: 0 0 10px #0000001a;
}

.project-table .responsive-table {
    overflow-x: auto;
}

.project-table table {
    min-width: 1000px;
    border-spacing: 0;
}

.project-table thead td {
    background-color: #eee;
    font-weight: bold;
}

.project-table table td {
    padding: 15px;
    transition: .3s;
}

.project-table tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    font-weight: 500;
}

.project-table tbody td:last-child {
    border-right: 1px solid #eee;
}

.project-table table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: #fff;
}

.project-table table img:not(:first-child) {
    margin-left: -20px;
}

.project-table tbody tr:hover td {
    background-color: #f8f8f8;
}

/* end project table */
/* start setting , toggle switch*/
/* .setting-page{
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
@media (max-width: 768px) {
    .setting-page{
        grid-template-columns: minmax(100px, 1fr);
        gap: 5;
        margin-left: 10px;
        margin-right: 10px;
    }
} */
.toggle {
    -webkit-appearance: none;
    appearance: none;
}

.toggle-switch {
    background-color: #aaa;
    width: 75px;
    height: 30px;
    border-radius: 20px;
    position: relative;
    transition: .3s;
    cursor: pointer;
}

.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-color: #fff;
    border-radius: 50%;
    color: #aaa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.toggle:checked+.toggle-switch {
    background-color: var(--blue-color);
}

.toggle:checked+.toggle-switch::before {
    content: "\f00c";
    background-color: #fff;
    color: var(--blue-color);
    left: 48px;
    transition: .5s;
}

@media (max-width: 767px) {
    .setting-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-right: 10px;
        margin-left: 10px;
        gap: 10px;
    }
}

/* end setting , toggle switch*/
/* start site control */
.site-control .area {
    width: 100%;
    height: 150px;
    resize: none;
    border-color: #ccc;
}

/* end site control */
/* start general info */
.general-info input {
    border: 1px solid #ccc;
}

.general-info .input-box input:focus {
    outline: none;
}

.general-info .email {
    background-color: #f1f5f9;
    display: inline-flex;
    width: calc(100% - 80px);
}

.general-info .email::placeholder {
    color: #999;
}

.general-info :disabled {
    cursor: no-drop;
}

/* end general info */
/* start security info */
.security-info .pass {
    border-bottom: 1px solid #eee;
}

.security-info .toggle-sec {
    border-bottom: 1px solid #eee;
}

.security-info .pass a {
    transition: .3s;
}

.security-info .pass a:hover {
    background-color: var(--blue-alt-color);
}

/* end security info */
/* start social info */
.social-info div input {
    border: 1px solid #ccc;
    border-left: none;
    background-color: #f6f6f6;
    height: 40px;
    border-radius: 0 6px 6px 0;
}

.social-info div i {
    width: 40px;
    height: 40px;
    transition: .3s;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DDD;
    border-radius: 6px 0 0 6px;
}

.social-info>div:focus-within i {
    color: #000;
}

/* end social info */
/* start widgets */
.widgets .control input {
    appearance: none;
    -webkit-appearance: none;
}

.widgets .control {
    margin-top: 20px;
}

.widgets .control label {
    padding-left: 30px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.widgets .control label:hover::before {
    border-color: var(--blue-color);
}

.widgets .control label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
    margin-top: -9px;
    border-radius: 3px;
}

.widgets .control label::after {
    font-family: "font awesome 6 free";
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    background-color: var(--blue-color);
    color: #fff;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    transform: scale(0) rotate(360deg);
}

.widgets .control input:checked+label::after {
    transform: scale(1);
}

/* end widgets */
/* start manager */
.manager .control input {
    appearance: none;
    -webkit-appearance: none;
}

.manager .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
    font-weight: 500;
}

.manager .control label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
    margin-top: -11px;
}

.manager .control label::after {
    content: "";
    position: absolute;
    left: 3px;
    top: calc(50% + 4px);
    margin-top: -12px;
    background-color: var(--blue-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
    transform: scale(0);
    transition: .3s;
}

.manager .control input:checked+label::before {
    border-color: var(--blue-color);
}

.manager .control input:checked+label::after {
    transform: scale(1);
}

.servers {
    border-top: 1px solid #eee;
}

.servers input {
    appearance: none;
    -webkit-appearance: none;
}

.servers .server {
    border: 2px solid #eee;
}

@media (max-width: 991px) {
    .servers {
        flex-wrap: wrap;
    }
}

.servers .server label {
    cursor: pointer;
}

.servers .server label i {
    display: block;
}

.servers input:checked+.server {
    border-color: var(--blue-color);
    color: var(--blue-color);
}

/* end manager */
/* start user */
@media (max-width: 767px) {
    .profile-page {
        grid-template-columns: minmax(100px, 1fr);
        margin-right: 10px;
        margin-left: 10px;
        gap: 10px;
    }
}

@media (max-width: 767px) {
    .user {
        flex-direction: column;
    }
}

.user .profile {
    width: 300px;
}

@media (min-width: 768px) {
    .user .profile {
        border-right: 1px solid #eee;
    }
}

.user .profile img {
    width: 120px;
    height: 120px;
}

.user .profile .level {
    height: 6px;
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.user .profile .level span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 6px;
}

.user .info .box-1,
.user .info .box-2,
.user .info .box-3,
.user .info .box-4 {
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    transition: .3s;
}

.user .info .box-1:hover,
.user .info .box-2:hover,
.user .info .box-3:hover,
.user .info .box-4:hover {
    background-color: #f7f7f7;
}

.user .info .box-1>div,
.user .info .box-2>div,
.user .info .box-3>div,
.user .info .box-4>div {
    min-width: 300px;
    padding: 10px 0 0;
}

@media (max-width: 767px) {
    .user .info div .toggle-profile {
        width: fit-content;
        margin: auto;
    }
}

.user .info .toggle-profile .toggle-switch {
    width: 80px;
    height: 20px;
}

.user .info .toggle-profile .toggle-switch::before {
    width: 12px;
    height: 12px;
    font-size: 10px;
}

.user .info .toggle-profile .toggle:checked+.toggle-switch::before {
    left: 61px;
}

/* end user */
/* start wrapper profile */
.wrapper-profile {
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .wrapper-profile {
        flex-direction: column;
    }
}

/* end wrapper profile */
/* start skills */
.skills {
    flex-grow: 1;
}

.skills ul li {
    padding: 15px 0 15px;
}

.skills ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.skills ul li span:not(:last-child) {
    margin-right: 5px;
}

.activities {
    flex-grow: 2;
}

@media (max-width: 767px) {
    .activities .activ {
        flex-direction: column;
    }

    .activities .activ .info {
        margin-top: 15px;
        margin-right: 15px;
    }
}

.activities .activ:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.activities img {
    width: 64px;
    height: 64px;
}

.activities .activ .info {
    margin-left: 15px;
    flex-grow: 1;
}

/* end skills */
/* start projects */
@media (max-width: 767px) {
    .projects-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.project-box .time {
    position: absolute;
    content: "";
    right: 10px;
    top: 10px;
}

.project-box .imgs {
    position: relative;
    min-height: 80px;
}

.project-box .imgs a {
    position: absolute;
    left: 0;
    bottom: 0;
}

.project-box .imgs a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.project-box .imgs a:nth-child(2) {
    left: 25px;
}

.project-box .imgs a:nth-child(3) {
    left: 50px;
}

.project-box .imgs a:nth-child(4) {
    left: 75px;
}

.project-box .imgs a:nth-child(5) {
    left: 100px;
}

.project-box .imgs a:hover {
    z-index: 5;
}

.project-box .skills-proj {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .project-box .skills-proj {
        display: flex;
        align-items: self-start;
        flex-direction: column;
    }

    .project-box .skills-proj span:not(:last-of-type) {
        margin-bottom: 15px;
    }
}

.project-box .level-proj {
    height: 8px;
    width: 260px;
    overflow: hidden;
    position: relative;
}

@media (max-width: 767px) {
    .project-box .do {
        flex-direction: column;
    }

    .project-box .level-proj {
        margin-bottom: 15px;
    }
}

.project-box .level-proj>span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 6px;
}

/* end projects */
/* start cources */
.cources-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 767px) {
    .cources-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.cource-box {
    overflow: hidden;
}

.cource-box .imgs .cover {
    max-width: 100%;
}

.cource-box .imgs .user {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #fff;
    left: 20px;
    top: 20px;
}

.cource-box .info {
    border-bottom: 1px solid #eee;
}

.cource-box .title-cours {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translateX(-50%);
}

/* end cources */
/* strat freinds */
.friends-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 767px) {
    .friends-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.friend-box .icons {
    position: absolute;
    top: 10px;
    left: 10px;
}

.friend-box .icons i {
    transition: .3s;
    margin-left: 5px;
}

.friend-box .icons i:hover {
    background-color: var(--blue-color);
    color: #fff;
}

.friend-box .user-info .team {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.friend-box .works>.vip {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 38px;
    opacity: .2;
}

.friend-box .works {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* end freinds */
/* start files */
.files-page {
    flex-direction: row-reverse;
    align-items: self-start;
}

@media (max-width: 991px) {
    .files-page {
        grid-template-columns: minmax(200px, 1fr);
        flex-direction: column;
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .files-page .files-box {
        gap: 10px;
    }
}

.files-page .statistics {
    min-width: 260px;
}

@media (max-width: 991px) {
    .files-page .statistics {
        width: 100%;
    }
}

.files-page .statistics .static {
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 10px;
}

.files-page .statistics .static>.static-img {
    width: 40px;
    height: 40px;
    background-color: #0077ff49;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.files-page .statistics .static>.static-img.green {
    background-color: #22c55e4f;
}

.files-page .statistics .static>.static-img.red {
    background-color: rgba(255, 0, 0, 0.219);
}

.files-page .statistics .static>.static-img.orange {
    background-color: rgba(255, 166, 0, 0.267);
}

.files-page .statistics .static .size {
    margin-left: auto;
}

.files-page .statistics .upload {
    margin: 15px auto 0;
    padding: 10px 15px;
    transition: .3s;
}

.files-page .statistics .upload:hover {
    background-color: var(--blue-alt-color);
}

.files-page .statistics .upload:hover i {
    animation: move-button .8s linear infinite;
}

@keyframes move-button {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.files-page .files-box {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

@media (max-width: 767px) {
    .files-page .files-box {
        width: 100%;
    }
}

.files-page .files-box .file .imgs img {
    width: 64px;
    height: 64px;
    transition: .3s;
}

.files-page .files-box .file .down {
    position: absolute;
    top: 10px;
    left: 10px;
}

.files-page .files-box .file .info {
    border-top: 1px solid #eee;
}

.files-page .files-box .file:hover .imgs img {
    transform: rotate(6deg)
}

/* end files */
/* start plans */
.plans-page {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

@media (max-width: 991px) {
    .plans-page {
        grid-template-columns: minmax(200px, 1fr);
        flex-direction: column;
        gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.plans-page .plane .value {
    border: 3px solid #fff;
    outline: 3px solid var(--green-color);
}

.plans-page .plane .value.basic {
    outline-color: var(--blue-color);
}

.plans-page .plane .value.premium {
    outline-color: var(--orange-color);
}

.plans-page .plane .value .price {
    width: fit-content;
    margin: 0 auto;
}

.plans-page .plane .value .price span {
    font-size: 25px;
    position: absolute;
    left: -20px;
}

.plans-page .plane .access li {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    font-weight: 500;
}

.plans-page .plane .access li i {
    font-size: 17px;
}

.plans-page .plane .access li .info {
    color: var(--grey-color);
    cursor: pointer;
}

.plans-page .plane .access li .info i {
    font-size: 15px;
    transition: .3s;
}

.plans-page .plane.green .access li .info i:hover {
    color: var(--green-color);
}

.plans-page .plane.blue .access li .info i:hover {
    color: var(--blue-color);
}

.plans-page .plane.orange .access li .info i:hover {
    color: var(--orange-color);
}

/* end plans */
